@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    font-size: 0.9rem;
    overflow: hidden;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}
/* Preloader */
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*----------------page-wrapper----------------*/

.page-wrapper {
    height: 100vh;
}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
}

.page-wrapper .theme.chiller-theme {
    background: #fff;
}


/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 200px;
    }
}


/*----------------show sidebar button----------------*/

#show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
	background-color: #51a6da;
    transition-delay: 0.3s;
    z-index: 999999999;
}

.page-wrapper.toggled #show-sidebar {
    left: -40px;
}


/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    width: 200px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 9999999;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}


/*----------------sidebar-content----------------*/

.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
    /*border-right: 2px solid gray;*/
    top: 74px;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}


/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar-wrapper .sidebar-brand>a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
}


/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
    float: left;
}

.sidebar-wrapper .sidebar-header .user-info>span {
    display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}


/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
    transform: rotate(90deg);
    right: 17px;
}


/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    /*padding-top: 20px;*/
}

.page-wrapper .page-content>div {
    padding: 20px 40px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
}


/*------scroll bar---------------------*/

 ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #525965;
}

 ::-webkit-scrollbar-thumb:active {
    background: #525965;
}

 ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

 ::-webkit-scrollbar-track:hover {
    background: transparent;
}

 ::-webkit-scrollbar-track:active {
    background: transparent;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    /* border-top: 1px solid #3a3f48; */
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #222;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #222;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #222;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #222;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}

@media screen and (max-width: 768px) {
    #show-sidebar {
        display: none;
    }
}

/* start Top bar */
.topbar {
    background-color: #222222;
    color: #fff;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    height: 35px;
}
.topbar p {
    font-size: 22px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* End Top bar */

/* start Navigation Bar */
.navbar {
     padding-top: 0rem;
     padding-bottom: 0rem;
}
.bg-light {
    background-color: #9ba1a7!important;
}
#BrandName {
    font-size: 26px;
    font-weight: normal;
    text-transform: none;
    font-weight: bold;
}

#BrandName:hover {
    color: #555555;
}

a.nav-link.active {
    background-color: #353535;
    border-radius: 80px;
    padding: 2px;
    line-height: 16px;
    color: #fff !important;
    margin-top: 26px;
}

a.nav-link {
    line-height: 18px;
    padding: 10px;
    margin: 16px;
    font-size: 15px;
}

.cart:hover {
    background-color: #999;
}

.user:hover {
    background-color: #999;
}
i.fa.fa-2x.fa-angle-up {
    border: 2px solid currentColor;
    background-color: transparent;
}

i.fa.fa-2x.fa-angle-up {
    padding: 3px;
    border-radius: 8px;
    width: 40px;
    padding-left: 8px;
    line-height: 25.6px;
    z-index: 21;
}
i.fa.fa-2x.fa-angle-up {
    color: gray;
}
i.fa.fa-shopping-cart {
    border: 1px solid;
    padding: 4px;
    border-radius: 17px;
    padding-top: 2px;
}
i.fa.fa-user {
    border: 1px solid;
    padding: 4px;
    border-radius: 47px;
    font-weight: bold;
    padding-top: 2px;
}
.tooltip-main {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-weight: 700;
    background: #f3f3f3;
    border: 1px solid #737373;
    color: #737373;
    margin: 4px 121px 0 5px;
    float: bottom;
    text-align: center !important;
}

.tooltip-qm {
    float: bottom;
    margin: -2px 0px 3px 4px;
    font-size: 12px;
}

.tooltip-inner {
    max-width: 236px !important;
    height: 76px;
    font-size: 12px;
    padding: 10px 15px 10px 20px;
    background: #FFFFFF;
    color: rgb(0, 0, 0, .7);
    border: 1px solid #737373;
    text-align: left;
}

.tooltip.show {
    opacity: 1;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #f00;
}


/* End Navigation Bar */

/* start hero section */
.portfolio-links h6 {
    position: absolute;
    bottom: 50px;
    text-align: center;
}
.portfolio-links p {
    position: absolute;
    bottom: 40px;
    left: 60%;
    text-align: center;
}

i.fa.fa-heart-o.hero2 {
    position: absolute;
    bottom: 642px;
    left: 110.5%;
}


img.img-fluid {
    width: 100%;
}


img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
/* End hero section */

/*--------------------------------------------------------------
#  start all product section
--------------------------------------------------------------*/
.product {
    font-size: xx-large;
    font-weight: bold;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-left: 10px;
}
.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 8px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}
.portfolio-links a i.fa.fa-heart-o {
    border: 3px solid silver;
    padding: 5px;
    border-radius: 50px;
    color: silver;
    background-color: transparent;
}
.portfolio-links a i.fa.fa-heart-o:hover {
    background-color: red;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #009970;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(54, 52, 58, 0.6);
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(54, 52, 58, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap img {
    transition: all ease-in-out 0.3s;
}



.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 5px;
    right: 170px;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
i.fa.fa-heart-o {
    position: absolute;
    bottom: 200px;
    left: 150px;

}
@media (min-width: 280px) and (max-width: 653px) {
    i.fa.fa-heart-o{
        bottom: 130px;
        left: 125px;
    }
    .product{
        margin-left: 28px;
    }
    .nice-select{
        margin-left: 28px;
    }
}
@media (min-width: 320px) and (max-width: 568px) {
    i.fa.fa-heart-o{
        bottom: 170px;
        left: 165px;
    }
    .product{
        margin-left: 50px;
    }
    .nice-select{
        margin-left: 50px;
    }
}
@media (min-width: 360px) and (max-width: 640px) {
    i.fa.fa-heart-o{
        bottom: 210px;
        left: 205px;
    }
    .product{
        margin-left: 70px;
    }
    .nice-select{
        margin-left: 69px;
    }
}
@media (min-width: 375px) and (max-width: 667px) {
    i.fa.fa-heart-o{
        bottom: 225px;
        left: 220px;
    }
}
@media (min-width: 411px) and (max-width: 731px) {
    i.fa.fa-heart-o{
        bottom: 260px;
        left: 255px;
    }
    .product {
        margin-left: 95px;
    }
    .nice-select{
        margin-left: 96px;
    }
}
@media (min-width: 540px) and (max-width: 720px) {
    i.fa.fa-heart-o{
        bottom: 390px;
        left: 385px;
    }
    .product{
        margin-left: 160px;
    }
    .nice-select{
        margin-left: 160px;
    }
}
@media (min-width: 576px) {
    i.fa.fa-heart-o{
        bottom: 108px;
        left: 102px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    i.fa.fa-heart-o{
        bottom: 140px;
        left: 135px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    i.fa.fa-heart-o{
        bottom: 148px;
        left: 142px;
    }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    i.fa.fa-heart-o{
        bottom: 240px;
        left: 235px;
    }
}

i.fa.fa-cart-arrow-down {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.portfolio .portfolio-wrap .portfolio-info {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #00cc95;
}

.portfolio .portfolio-wrap:hover::before {
    opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
    transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #009970;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #009970;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(54, 52, 58, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

/*--------------------------------------------------------------
#  End all product section
--------------------------------------------------------------*/

/* pagination*/

.page-link {
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 26px;
}

li.page-item {
    margin-left: 10px;
}

.page-item:first-child .page-link  {
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 25px;
    text-align: center;
}

.page-item:last-child .page-link{
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 25px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #191a1b;
    border-color: #292929;
}
.page-link:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

/* pagination */

/* Start back to top */

#myBtn {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border: 2px solid;
    border-radius: 45px;
    /*border-radius: 50%;*/
    background: #f14836;
    background-color: gray;
    text-align: center;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
#myBtn:hover {
    color: #fff;
    background-color: #000;
}
/* End back to top */


/* Start Footer to top */

.footer{
    background-color: #282828!important;
    color: #f1f1f1;
    font-weight: bold;
}
.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}
.footer h6{
    font-weight: 600;
    letter-spacing: .05em;
    color: #fff;
}

.footer p {
    margin-bottom: 0px;
    text-align: left;
}
/* End Footer to top */

